{% extends "base.html" %}
{% load widget_tweaks %}


{% block extrastyle %}
{% endblock extrastyle %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ model.photo.url }}" alt="img not found" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ model.name|capfirst }}</h5>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Raza: </b>{{ model.race }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Clase: </b>{{ model.character_class }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Nivel:</b> {{ model.level }}
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">{{ model.exp_points }}/{{ model.max_exp }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Raza</th>
                                    <th>Clase</th>
                                    <th>Nivel</th>
                                    <th>Experiencia</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for character in model.character_set.all %}
                                    <tr>
                                        <td>{{ character.name }}</td>
                                        <td>{{ character.race }}</td>
                                        <td>{{ character.character_class }}</td>
                                        <td>{{ character.level }}</td>
                                        <td>{{ character.exp_points }}/{{ character.max_exp }}</td>
                                        <td>
                                            <a href="{% url "character_index" character.pk %}" class="btn btn-info"><i class="fas fa-chevron-right"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
{% endblock extrajs %}